body {
  font-family: "Louis Vuitton Web", "Louis Vuitton Web Fallback", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: #000000;
  font-size: '14px';

}

/* Hide footer on screens smaller than 1024px */
